/* Homepage CSS Start */
html,
body {
  margin: 0;
  padding: 0;
}
.background-black {
  background-color: var(--bs-black);
}

.width-100 {
  width: 100%;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 700;
  /* background-color: rgba(255, 0, 0, 0.05); */
  transition: background-color 200ms;
  background-color: rgba(0, 0, 0, 0.485);
  backdrop-filter: blur(46px);
}
.top-header-otherpage {
  position: sticky;
  background-color: var(--bs-white);
  z-index: 30;
  width: inherit;
  top: -175px;
  left: 0;
  right: 0;
}

.show-nav-on-scroll {
  top: 0;
  transition: all 1s;
  transform: translateY(0);
  max-width: 100vw !important;
}

.navbar-otherpage {
  background-color: var(--bs-black) !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.relative {
  position: relative;
}

.chariox-content {
  overflow: hidden;
}

.image-banner {
  width: 100%;
}
.logo {
  width: 30%;
  height: auto;
}

.header-find {
  display: flex;
  background-color: var(--bs-red);
  padding: 3px;
  font-style: italic;
}

.right-find {
  padding: 5px 10px;
  color: var(--bs-white);
}

.left-find {
  padding: 5px 10px;
  background: var(--bs-white);
  color: var(--bs-dark);
}

.row-lexio-tyre {
  background-color: var(--bs-red);
  margin-right: 0 !important;
  justify-content: center;
}

.hero-header {
  background: url(../images/image-banner.png) top right no-repeat;
  background-size: cover;
}

.img-at-mt {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.col-at {
  align-items: center;
  display: flex;
  float: right;
}

.col-mt {
  align-items: center;
  display: flex;
  float: left;
}

.at-mt-title {
  font-size: 30px;
  font-style: italic;
  color: var(--bs-white);
  text-transform: uppercase;
  font-family: "draco";
}

.slash {
  font-size: 48px;
  font-style: italic;
  color: var(--bs-white);
  text-transform: uppercase;
  font-family: "youshebiaotihei" !important;
}

.at-mt-content {
  color: var(--bs-white);
  font-weight: 200;
}

.learn-more {
  font-style: italic;
  font-family: "montserrat";
  color: var(--bs-white);
  text-decoration: underline;
}

.col-at-mt-content {
  width: 30rem;
}

.vertical-white-line {
  width: 2px;
  height: 150px;
  background: var(--bs-white);
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.manufacturer-section {
  position: relative;
  z-index: 0;
  margin: 30px 0 0;
}

@media (min-width: 1024px) {
  .manufacturer-width {
    padding-bottom: 0;
    max-width: 420px;
  }
}

@media (min-width: 768px) {
  .manufacturer-width {
    max-width: 420px;
    padding-bottom: 450px;
  }
}

.manufacturer-width {
  height: auto;
  position: relative;
}

.manufacturer-logo {
}
.at-image-font {
  position: absolute;
  z-index: 1;
  max-width: 350px;
  right: calc(100% - 150px);
  bottom: 26px;
}

.mt-image-font {
  position: absolute;
  z-index: 1;
  max-width: 350px;
  left: calc(100% - 150px);
  bottom: 26px;
}
@media (min-width: 768px) {
  .at-image-font {
    max-width: 500px;
    top: 30px;
    bottom: auto;
    right: calc(100% - 37px);
  }
  .mt-image-font {
    max-width: 500px;
    top: 30px;
    bottom: auto;
    left: calc(100% - 37px);
  }
}
@media (min-width: 1024px) {
  .at-image-font {
    max-width: none;
    right: calc(100% - 50px);
    top: 0;
  }
  .mt-image-font {
    max-width: none;
    left: calc(100% - 50px);
    top: 0;
  }
}

@media (min-width: 768px) {
  .fade-image-right {
    z-index: 3;
    position: absolute;
    max-width: 500px;
    top: 50px;
    left: 175px;
  }

  .fade-image-left {
    z-index: 3;
    position: absolute;
    max-width: 500px;
    top: 50px;
    transform: scaleX(-1);
    right: 175px;
  }
}

@media (min-width: 1024px) {
  .fade-image-right {
    z-index: 3;
    position: absolute;
    left: 155px;
    max-width: none;
    top: -30px;
  }

  .fade-image-left {
    z-index: 3;
    position: absolute;
    right: 155px;
    max-width: none;
    top: -30px;
    transform: scaleX(-1);
  }
}

.tyre-show-section {
  position: relative;
  display: grid;
}

.tyre-mt-car {
  position: absolute;
  inset: 0;
  z-index: 1;
  margin: auto;
  width: 100%;
  bottom: 83vh;
}

.tyre-mt-background {
  clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 90vh);
  width: 100%;
  margin-bottom: -23.5vh;
}

.tyre-center-container {
  text-align: center;
  position: relative;
  bottom: 10vh;
  z-index: 3;
}

.mt-title-center {
  width: 100%;
  position: absolute;
  right: 35vh;
  bottom: 15vh;
  z-index: 3;
}

.at-title-center {
  width: 100%;
  position: absolute;
  left: 35vh;
  top: 15vh;
  z-index: 3;
}

.tyre-center {
  position: absolute;
  width: 50%;
  inset: 0;
  z-index: 2;
  bottom: 60px;
  margin: auto;
}

.tyre-at-car {
  position: absolute;
  inset: 0;
  z-index: 1;
  margin: auto;
  width: 100%;
  top: 88vh;
}

.tyre-at-background {
  clip-path: polygon(0px 0px, 100% 30vh, 100% 100%, 0px 100%);
  width: 100%;
  margin-top: -23.5vh;
}
/* Gallery Start */
.gallery-content {
  position: relative;
}
.gallery-title {
  color: var(--bs-white);
  font-family: "montserrat";
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.grid-img {
  width: 100%;
}

.gallery-category {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.gallery-title {
  font-family: "antique";
  list-style: none;
  font-style: italic;
  position: relative;
  padding: 20px 0px;
}

.gallery-title.active::after {
  color: #fff;
  background-color: var(--bs-red);
  transition: background-color 0.25s ease-out;
  content: "";
  height: 4px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  position: absolute;
}

.gallery-topic {
  font-family: "antique" !important;
  font-size: 50px;
}

.gallery-banner {
  background: url(../images/other/gallery-banner.jpg) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  display: flex;
  align-items: center;
  min-height: 78vh;
  position: relative;
  padding-top: 12em;
  text-align: center;
}

.view-more {
  color: var(--bs-red);
  font-size: 25px;
}
/* Gallery End */

.about-us-section {
  background: url(../images/about-us.png) no-repeat;
  background-size: cover;
}

.content-title {
  color: var(--bs-white);
  font-family: "montserrat";
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

.about-us-description {
  color: var(--bs-white);
  font-style: italic;
}

.btn-class {
  padding: 10px 30px;
  background: var(--bs-red);
  border-radius: 20px;
  display: inline-block;
}

.btn-text {
  font-weight: bold;
  color: var(--bs-white);
  text-transform: uppercase;
  font-style: italic;
}

.btn-black {
  background: var(--bs-black);
}

.btn-text-black {
  color: var(--bs-black);
}

.btn-white {
  background: var(--bs-white);
}

.dealer-section {
  background: var(--bs-secondary);
}

.dealer-title {
  color: var(--bs-black);
  font-family: "montserrat";
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

.dealer-description {
  color: var(--bs-black);
  font-style: italic;
}

.horizontal-red {
  background: var(--bs-red);
  width: 100%;
}

.tech-know-section {
  background: url(../images/tech-know.png) no-repeat;
  background-size: cover;
}

.find-section {
  background: url(../images/mud-climb-conquer.png) no-repeat;
  background-size: cover;
  /* max-height: 500px; */
}

.find-relative-container {
  position: relative;
  height: 50vh;
}

.find-store-bg {
  background: var(--bs-red);
  width: 100%;
  position: relative;
  z-index: 11;
}

.find-left-title {
  position: relative;
  right: 45px;
}

.find-right-title {
  position: relative;
  left: 45px;
}

.find-store-row {
  display: flex;
  padding: 20px 0;
}

.mt-light {
  width: 100%;
}

.find-absolute-left {
  position: absolute;
  bottom: 0;
}

.find-absolute-right {
  position: absolute;
  right: 0;
  bottom: -100px;
  z-index: 10;
}

@media (min-width: 1024px) {
  .container-evolution {
    max-width: 1020px !important;
  }
}

@media only screen and (min-width: 1250px) {
  .container-evolution {
    max-width: 1230px !important;
  }
}

@media only screen and (min-width: 1575px) {
  .container-evolution {
    max-width: 1507px !important;
  }
}
.footer-title {
  color: var(--bs-white);
  font-family: "montserrat";
  font-weight: bold;
  text-transform: uppercase;
}

.fa,
.fas {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-list {
  padding-left: 0;
}

.social-list__item:first-child {
  margin-left: 0;
}
.social-list__item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.social-list .fa,
.social-list .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social-list__link {
  color: #000;
  background-color: #fff;
  font-size: 18px;
  line-height: 41px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  position: relative;
}

@media only screen and (min-width: 1250px) {
  .social-list__link {
    font-size: 24px;
    height: 41px;
    width: 41px;
  }
}

@media (min-width: 768px) {
  .social-list__link {
    display: block;
    margin: 0 auto;
  }
}
.footer-tel-fax {
  display: flex;
  gap: 20px;
}

.footer-list-item {
  list-style: none;
  margin-bottom: 15px;
}

.footer-list-title {
  color: var(--bs-red);
}

.footer-list-link {
  color: var(--bs-white);
  text-transform: uppercase;
}
/* Homepage CSS END */

/* About-Us CSS Start*/

.about-us-banner {
  background: url(../images/about/about-us-banner.jpg) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  display: flex;
  align-items: center;
  min-height: 78vh;
  position: relative;
  padding-top: 12em;
  text-align: center;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.about-us-title {
  color: var(--bs-white);
  font-family: "montserrat";
  font-weight: bold;
  font-style: italic;
}

.vertical-red-line {
  width: 5px;
  height: 40px;
  background: var(--bs-red);
  display: inline-block;
}

.evolution-section {
  background: var(--bs-white);
}

.evolution-logo-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.evolution-logo {
  max-width: 100%;
  width: 200px;
  height: auto;
  vertical-align: middle;
}

.container-evolution {
  max-width: 1600px !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1050px) {
  .evolution-logo {
    width: 250px;
  }
}
@media (min-width: 1250px) {
  .evolution-logo {
    width: 300px;
  }
}

@media (min-width: 1450px) {
  .evolution-logo {
    width: 350px;
  }
}

.evolution-years-container {
  position: relative;
}

.evolution-years-container::after {
  content: "";
  width: 100%;
  display: block;
  background: var(--bs-red);
  height: 6px;
  position: absolute;
  bottom: 2px;
}

.evolution-years {
  text-align: center;
  justify-content: space-around;
  display: flex;
}

.years-text {
  color: var(--bs-black);
  font-weight: bold;
}

/* About-Us CSS End */

/* Tech & knowledge CSS Start */
.tech-knowlegde-content {
  position: relative;
}
.tech-knowledge-banner {
  background: url(../images/tech-knowledge/tech-knowledge-banner.jpg) no-repeat
    center center;
  background-size: cover;
  vertical-align: middle;
  display: flex;
  align-items: center;
  min-height: 78vh;
  position: relative;
  padding-top: 12em;
  text-align: center;
}

.tech-knowledge-category {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.tech-knowledge-title {
  list-style: none;
  font-style: italic;
  position: relative;
  padding: 15px 0px;
}

.tech-knowledge-title.active::after {
  color: #fff;
  background-color: var(--bs-red);
  transition: background-color 0.25s ease-out;
  content: "";
  height: 4px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  position: absolute;
}

.horizontal-white-line {
  position: relative;
}

.horizontal-white-line::after {
  background-color: var(--bs-white);
  transition: background-color 0.25s ease-out;
  content: "";
  height: 2px;
  left: 0;
  bottom: 14px;
  width: 100%;
  display: block;
  position: absolute;
}

/* Tech & Knowledge End*/

/* Tyre Show Start*/
.tyre-banner {
  background: url(../images/tyre/tyre-banner.jpg) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  display: flex;
  align-items: center;
  min-height: 78vh;
  position: relative;
  padding-top: 12em;
  text-align: center;
}

.at-container {
  padding-top: 0;
  background-size: 100%;
  position: relative;
}

@media (min-width: 1440px) {
  .at-container {
    min-height: 900px;
    padding-top: 40px;
  }
  .tyre-content-relative {
    min-height: 900px;
  }
}

@media (min-width: 1024px) {
  .at-container {
    padding-top: 40px;
  }
  .tyre-content-relative {
    min-height: 686px;
  }
}

@media (min-width: 768px) {
  .at-container {
    min-height: 800px;
    padding-top: 40px;
  }
}
.tyre-content {
  position: relative;
}
.tyre-content-relative {
  position: relative;
}

.at-infront {
  position: relative;
  z-index: 1;
}

.at-behind {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
}

.tyre-at-image-infront {
  top: 189px;
  left: -155px;
  position: absolute;
  width: 700px;
  z-index: 0;
}

.tyre-mt-image-infront {
  top: 189px;
  left: -155px;
  position: absolute;
  width: 700px;
  z-index: 0;
}

.tyre-at-image-behind {
  position: absolute;
  left: 235px;
  top: 35px;
  width: 1100px;
  height: 730px;
}

.tyre-mt-image-behind {
  position: absolute;
  left: 250px;
  width: 940px;
  height: 725px;
}
/* Tyre Show End*/

/* AT & MT Tyre Start */
.atmt-content-container-1 {
  margin-top: 50px;
  padding-bottom: 30px;
  margin: 30px 0 0;
}

@media (min-width: 700px) {
  .atmt-content-container-1 {
    min-height: 568px;
    margin: 75px 0 0;
  }
}

@media (min-width: 1024px) {
  .atmt-content-container-1 {
    min-height: 600px;
    margin: 75px 0 0;
  }
  .at-content-container-2 {
    min-height: 500px;
    margin: 75px 0 0;
  }
  .at-content-container-3,
  .at-content-container-4,
  .tyre360-container {
    margin: 75px 0 0;
  }
}

.at-content-1-height {
  min-height: 500px;
}
.tyre-at-banner {
  background: url(../images/tyre/tyre-at-banner.jpg) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  display: flex;
  align-items: center;
  min-height: 78vh;
  position: relative;
  padding-top: 12em;
  text-align: center;
}

.tyre-mt-banner {
  background: url(../images/tyre/tyre-mt-banner.jpg) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  display: flex;
  align-items: center;
  min-height: 78vh;
  position: relative;
  padding-top: 12em;
  text-align: center;
}

.at-content-container-2,
.at-content-container-3,
.at-content-container-4 {
  position: relative;
}

.at-content-2-height {
  min-height: 500px;
}

.at-content-3-height,
.at-content-4-height {
  min-height: 600px;
}

.at-content-tyre {
  position: absolute;
}

.at-content-2-tyre {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 45px;
}

.at-content-3-tyre {
  position: absolute;
  left: 40px;
  width: 450px;
  height: 450px;
  top: 100px;
}

.at-content-4-tyre {
  position: absolute;
  top: 10%;
  height: 480px;
  width: 470px;
  right: 4%;
}

.at-content-4-tyre-2 {
  position: absolute;
  top: 8%;
  height: 480px;
  width: 470px;
  left: 4%;
}

.at-content-ground {
  position: absolute;
  bottom: -35px;
}

.at-content-2-ground {
  position: absolute;
  width: 755px;
  right: 0;
  bottom: 0;
}

.at-content-3-ground {
  position: absolute;
  width: 800px;
  bottom: 0;
  left: -90px;
}

.at-content-4-ground {
  position: absolute;
  width: 800px;
  bottom: 0;
  right: -90px;
}

.at-content-2-zoom {
  position: absolute;
  width: 220px;
  left: -70px;
}

.mt-content-tyre {
  position: absolute;
  bottom: -30px;
}

.mt-content-2-tyre {
  position: absolute;
  width: 85%;
  right: 0;
  bottom: 45px;
}

.mt-content-3-tyre {
  position: absolute;
  right: 35px;
  width: 450px;
  height: 450px;
  top: 100px;
}
.mt-content-ground {
  position: absolute;
  bottom: -35px;
}

.mt-content-2-ground {
  position: absolute;
  width: 755px;
  left: 0;
  bottom: 0;
}

.mt-content-3-ground {
  position: absolute;
  width: 755px;
  bottom: 55px;
  right: 0px;
}

.mt-content-4-ground {
  position: absolute;
  bottom: 25px;
  left: -113px;
}
.mt-content-2-zoom {
  position: absolute;
  width: 220px;
  right: -70px;
}

.at-content-3-text {
  position: relative;
  z-index: 1;
}

.at-content-border {
  border: 1px solid var(--bs-white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 470px;
  z-index: 2;
}

.atmt-content-car {
  position: absolute;
  right: 9%;
  top: 23%;
  height: 300px;
  width: 470px;
}

.atmt-content-car-2 {
  position: absolute;
  left: 9%;
  top: 23%;
  height: 300px;
  width: 470px;
}

.parallelogram {
  transform: skew(10deg);
}

.tyre360-container-height {
  min-height: 600px;
}
.tyre360-tyre {
  position: absolute;
  left: -23px;
  top: 7px;
  width: 610px;
  z-index: 2;
}

.tyre360-ground {
  position: absolute;
  left: -130px;
  width: 850px;
  bottom: 10px;
}

.tyre-shadow::after {
  top: 210px;
  left: 6%;
  content: "";
  background: url(../images/tyre/tyre-shadow.png) no-repeat;
  width: 395px;
  height: 165px;
  display: block;
  position: absolute;
  bottom: -47px;
  margin: auto;
  z-index: 0;
}

.drag-container {
  display: flex;
}

.btn-drag {
  padding: 8px 5px;
  position: absolute;
  bottom: 140px;
  left: 200px;
  z-index: 3;
}

.btn-drag-text {
  font-family: var(--bs-font-antique);
  font-size: 12px;
}

.arrow-width {
  width: 15px;
}
/* AT & MT Tyre End */

/* Contact Us Start */
.contact-us-banner {
  background: url(../images/other/contact-us-banner.jpg) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  display: flex;
  align-items: center;
  min-height: 78vh;
  position: relative;
  padding-top: 12em;
  text-align: center;
}

.other-title {
  color: var(--bs-white);
  font-family: var(--bs-font-antique);
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  font-size: 4rem !important;
}

.contact-form {
  background: var(--bs-contact-background);
  padding: 30px;
  border-radius: 20px;
}

.contact-form-first-row {
  display: flex;
  gap: 20px;
}

.btn-submit {
  background: var(--bs-black);
  width: 100px;
  color: var(--bs-white);
  padding: 15px;
  border-radius: 4px;
  border: 0;
}

.contact-map {
  height: 70vh;
}

#map {
  height: 100%;
  width: 100%;
}
/* ///// inputs /////*/

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  /* font-size: 0.75em;
  color: #999;
  top: -15px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease; */
  display: none;
}

.styled-input {
  width: 100%;
  position: relative;
  border-radius: 4px;
}

.styled-input label {
  align-items: center;
  transform: translate(-7%, -18%);
  color: var(--bs-white);
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 13px;
}

input,
textarea {
  padding: 20px;
  height: 20px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: var(--bs-contact-bar);
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 10em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}
/* Contact Us End */

/* Size List Start */
.at-size-list-container {
  margin: 75px 0 0;
}
.size-list-banner {
  background: url(../images/other/size-list-banner.jpg) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  display: flex;
  align-items: center;
  min-height: 78vh;
  position: relative;
  padding-top: 12em;
  text-align: center;
}

.size-list-row {
  position: relative;
  min-height: 500px;
}

.size-list-items {
  list-style: none;
  position: relative;
}

.polygon,
.polygon-right {
  position: relative;
}

.horizontal {
  /* position: relative; */
}
.size-number {
  position: absolute;
  margin-bottom: 0;
  left: 25px;
  bottom: -17px;
}
.size-number-right {
  position: absolute;
  margin-bottom: 0;
  right: 25px;
  bottom: -17px;
}

.size-description {
  position: absolute;
  font-size: 37px;
  left: 128px;
  font-weight: 100;
  top: -8px;
}

.size-description-left {
  position: absolute;
  font-size: 37px;
  right: 152px;
  font-weight: 100;
  top: -8px;
}
.size-list-items {
  min-height: 50px;
}
.polygon::after {
  content: "";
  background: url(../images/other/polygon.png) no-repeat;
  width: 120px;
  height: 43px;
  bottom: -18px;
  left: 0;
  position: absolute;
}
.polygon-right::after {
  content: "";
  background: url(../images/other/polygon.png) no-repeat;
  transform: scale(-1, 1);
  width: 120px;
  height: 43px;
  right: 14px;
  bottom: -18px;
  position: absolute;
}

.horizontal::after {
  content: "";
  background: url(../images/other/horizontal.png) no-repeat;
  position: absolute;
  height: 66px;
  width: 94%;
  bottom: top;
  top: -23px;
  left: 17px;
}

.horizontal-mt::after {
  content: "";
  background: url(../images/other/horizontal.png) no-repeat;
  position: absolute;
  height: 66px;
  width: 94%;
  bottom: top;
  top: -23px;
  left: 12px;
}

.size-list-at-tyre {
  width: 580px;
  position: absolute;
  transform: scale(-1, -1);
  bottom: -202px;
  left: -50px;
}

.size-list-mt-tyre {
  width: 580px;
  position: absolute;
  right: -50px;
  top: 0;
}
/* Size List End */

/* Find Dealer Start*/
.find-dealer-container {
  display: flex;
}

.find-dealer-search-section {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .find-dealer-search-section {
    width: 53.6rem;
  }
}

@media screen and (min-width: 960px) {
  .find-dealer-search-section {
    box-shadow: 0.3rem 0 0.8rem rgba(51, 51, 51, 0.5);
    width: 35rem;
    z-index: 98;
  }
}

.find-dealer-search-container {
  height: 8.6rem;
  padding: 1.5rem;
  background-color: var(--bs-red);
}

@media screen and (min-width: 840px) {
  .find-dealer-search-container {
    height: 10rem;
    padding: 2.5rem 2.4rem;
  }
}

.find-dealer-search-input-container {
  align-items: center;
  background-color: #fff;
  border-radius: 0.4rem 0.4rem 0 0;
  display: flex;
  height: 100%;
  padding: 1.3rem 1.5rem 1.3rem 1.4rem;
  position: relative;
  width: 100%;
}

.find-dealer-search-input-container--rounded {
  border-radius: 0.4rem !important;
}

.find-dealer-search-icon-placeholder {
  align-items: center;
  display: flex;
  margin-right: 0.5rem;
}

.find-dealer-search-input {
  background: transparent !important;
  color: var(--bs-black);
  width: 90%;
}

.find-dealer-result {
  background-color: #f5f5f5;
  min-height: 40rem;
  padding-bottom: 5rem;
}

.find-dealer-result-list {
  align-items: center;
  display: flex;
  justify-content: center;
}

.find-dealer-result-list ul {
  width: 100%;
  padding-left: 0;
}

.find-dealer-result-card {
  padding: 2rem 2.4rem;
  cursor: pointer;
}

.find-dealer-result-card-selected > .find-dealer-result-card-container {
  border-left: 1rem solid var(--bs-red);
}

.find-dealer-result-card-container {
  background: var(--bs-white);
  border-left: 1rem solid transparent;
  border-radius: 0.4rem;
  overflow: hidden;
}

.find-dealer-map-section {
  display: flex;
  flex: 1 1 auto;
  height: 100vh;
  position: sticky;
  top: 0;
}

.find-dealer-result-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 2rem 2rem 0;
}

.find-dealer-result-card-header-distance {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 700;
  color: #27509b;
}

.markericon {
  background-image: url(../images/other/map-marker.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--bs-black);
  font-size: 1.4rem;
  font-weight: 700;
  height: 4rem;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 4rem;
  padding-top: 1.5px;
}

.markericon-selected {
  background-image: url(../images/other/map-marker-selected.svg);
}

.marker-label {
  font-weight: bold;
  padding-bottom: 20px;
}

.find-dealer-result-card-header-range {
  font-size: 12px;
}

.find-dealer-result-card-header-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.find-dealer-result-card-header-logo-network {
  margin-bottom: 1rem;
  max-height: 6rem;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 9.2rem;
  width: 9.2rem;
}
/* Find Dealer End*/
